      <div class="container">
        <h1>Welcome Back Login Here</h1>

        <div class="forms">
          <form action="" method="post">
            <div class="form-groups">
              Email
              <div class="inputs mail">
                <input
                  type="email"
                  placeholder="Enter Email or Username"
                  name="email"
                  id=""
                />
              </div>
            </div>
            <div class="form-groups">Password
            <div class="inputs ">
             <div class="pass">
              <input
              type="password"
              placeholder="Enter Password"
              name="pass"
              id=""
            />
            <div class="eye"></div>
             </div>
            </div>
          </div>
            <input type="submit" name="login" value="Login">
          </form>
        </div>
      </div>
